:root {
    --dark: #13293d;
    --pink: deepPink;
    --white: white;

}

h1{
    text-align: center;
    font-family: Chakra Petch, sans-serif;
    font-size: 70px;
}

body {
    background-color: var(--dark);
    color: var(--pink)
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.start-button button {
    font-size: 25px;
    font-weight: 500;
    color: var(--white);
    background: var(--pink);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-menu {
    position: relative;
    top: 50%;
    left: 30%;
    width: 540px;
    height: 100px;
    background: var(--white);
    border-radius: 5px;
    text-align: center;
    font-family: Chakra Petch, sans-serif;
}